<div [class]="themeService.presentTheme$ | async" >
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <h3>
        Loading...
      </h3>
    </div>
  </ng-template>
  <ngx-loading [show]="themeService.checkLoading()" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>

  <app-pre-load></app-pre-load>

  <app-navbar></app-navbar>
  <app-task-bar></app-task-bar>
  <div class="main-content d-flex flex-column hide-sidemenu">

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
  <app-setting-theme></app-setting-theme>

</div>
