<mat-tab-group>
  <mat-tab>
    <div>
      <ng-template mat-tab-label>
        <i-feather name="user-plus" style="padding-right: 5px" class="cursor-pointer"
                   title="Create new chat"></i-feather>
        New contact
      </ng-template>
      <form class="search-contact">
        <input placeholder="Search..." type="text" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="keySearch" (input)="getListFriendByUsername()" class="form-control">
      </form>
    </div>
    <div style="padding-top: 10px;overflow:scroll;height: 70%" id="list_friend">
      <!-- Chat box -->
      <div class="mb-30 row">
        <div class="col-xl-12">
          <div class="inbox-content-wrap tab-content">
            <div class="row">
              <div class="col-md-12">
                <div class="mail-item-nav">

                  <div>
                    <div class="flex-column nav nav-pills" role="tablist" *ngIf="listFriend && listFriend.length>0">
                      <a class="nav-link active cursor-pointer" (click)="selectUser(user)"
                         *ngFor="let user of listFriend">
                        <img src="../../../../assets/img/user/1.jpg" alt="User" class="wh-30 rounded-circle">
                        <span class="status online"></span>
                        <div class="info">
                          <div class="name">{{user.username}}</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div id="no_result1" *ngIf="listFriend && listFriend.length==0">
                    <span>No result</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- End Chat box -->

    </div>
  </mat-tab>
  <mat-tab>
    <div>
      <ng-template mat-tab-label>
        <i-feather name="users" style="padding-right: 5px" class="cursor-pointer"
                   title="Create new chat"></i-feather>
        New group
      </ng-template>

      <form class="search-contact">
        <mat-form-field style="display: inline-block">
          <mat-label style="color: blue">Group name</mat-label>
          <input matInput [(ngModel)]="groupName" [ngModelOptions]="{standalone: true}" style="width: 500%">
        </mat-form-field>
        <button type="button" class="btn btn-primary btn-sm" style="display: inline-block;float: right"
                (click)="createNewGroup()">Create
        </button>
        <input placeholder="Search..." type="text" [ngModelOptions]="{standalone: true}"
               [(ngModel)]="keySearch" (input)="getListFriendByUsername()" class="form-control">
      </form>
    </div>
    <div style="padding-top: 10px;overflow:scroll;height: 70%" id="list_user">
      <!-- Chat box -->
      <div class="mb-30 row">
        <div class="col-xl-12">
          <div class="inbox-content-wrap tab-content">
            <div class="row">
              <div class="col-md-12">
                <div class="mail-item-nav">

                  <div>
                    <div class="flex-column nav nav-pills" *ngIf="listFriend && listFriend.length>0">

                      <span class="nav-link active cursor-pointer"
                            *ngFor="let user of listFriend">
                        <img src="../../../../assets/img/user/1.jpg" alt="User" class="wh-30 rounded-circle">
                        <span class="status online"></span>
                        <div class="info" style="display: inline-block">
                          <div class="name">{{user.username}}</div>
                        </div>
                        <div style="display: inline-block;float: right">

                         <input type="checkbox" (click)="chooseUser('user_'+user.id,user)"
                                style="display: inline-block" name="user_{{user.id}}"
                                id="user_{{user.id}}" [checked]="lstIdChoose&&lstIdChoose.includes('user_'+user.id)">
                        </div>
                      </span>
                    </div>
                  </div>
                  <div id="no_result" *ngIf="listFriend && listFriend.length==0">
                    <span>No result</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- End Chat box -->

    </div>
  </mat-tab>
</mat-tab-group>

